* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
}

header {
  min-height: 100vh;
  background-color: #efefef;
}

nav {
  background-color: black;
  width: 100%;
  position: fixed;
}

nav a {
  color: white;
  text-decoration: none;
}

nav li {
  display: inline-block;
  padding: 0.5em;
}

header main {
  text-align: center;
  font-size: 1.25em;
  padding: 4em;
}

h1 {
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  /* to keep notes - ctrl forward slash */
}

.about-me {
  background-color: black;
  color: white;
  padding: 3em 0;
  line-height: 2;
}
/* . before about-me denotes that it is pulling the class and not the tag */

.content {
  width: 50%;
  margin: 0 auto;
}

.projects {
  padding: 3em 0;
  line-height: 2;
  background-color: #efefef;
}

.projects img {
  width: 30%;
  padding: 30px;
}
